[build]
  publish = "."

[[redirects]]
  from = "/"
  to = "/auth.html"
  status = 200

[[redirects]]
  from = "/auth"
  to = "/auth.html"
  status = 200

[[redirects]]
  from = "/app"
  to = "/index.html"
  status = 200
